<html>

<body>
    <cneter>
<<<<<<< HEAD
        <p style='color:black'>회원 가입을 위한 인증번호입니다.</p>
=======
        <p style='color:black'>회원 가입을 위한 인증번호 입니다.</p>
>>>>>>> fb03673b4a4f2399f6ef019cd135b27a77fb1e52
        <p style='color:black'>아래의 인증 번호를 입력하여 인증을 완료해주세요.</p>
        <h2>
            <%= authCode %>
        </h2>
    </cneter>
</body>

</html>